<link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap" rel="stylesheet">

<style>
    @font-face {
        font-family: 'Jameel Noori Nastaleeq';
        src: url('fonts/JameelNooriNastaleeq.ttf') format('truetype');
    }
    .dua {
        font-family: 'Jameel Noori Nastaleeq', 'Noto Nastaliq Urdu', serif;
        direction: rtl; 
        text-align: right;
    }
</style>

<!--<p class="dua">
اے الله! حضرت محمدؐ اور امام علیؑ اور بی بی فاطمہؑ اور حضرت حسنؑ اور امام حسینؑ اور تمام پاک آئمہؑ اور ہمارے حاضروموجود امام شاہ کریم الحسینیؑ کے واسطے سے مرحو مین کی روحوں کو اصل میں واصل اور درجات بلند فرما! آمین یا رب العالمين-  
</p> -->

<p class="dua">
 {{.Inner}}
</p>
